<header>
  <nav class="navbar navbar-expand-md">
    <a class="navbar-brand main-nav-link" href="#">Movie blast</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item active mr-3">
          <a class="nav-link" href="#">Movies
          </a>
        </li>
        <li class="nav-item active mr-3">
          <a class="nav-link" href="#">Actors
          </a>
        </li>
        <li class="nav-item mr-3">
          <div ngbDropdown >
            <a class="nav-link" style="color: white;" ngbDropdownToggle>Genres</a>
            <div ngbDropdownMenu aria-labelledby="dropdownManual">
              <!-- <a class="dropdown-item">Logout</a>
              <a class="dropdown-item">My Movies</a>
              <a class="dropdown-item">My Account</a> -->
              <app-genre></app-genre>
            </div>
          </div>

        </li>
        <li>
          <a class="btn btn-outline-primary mr-5" href="#">Login</a>
        </li>
        <li>
          <a class="btn btn-primary mr-5" href="#">Signup</a>
        </li>
        <li>
          <form>
            <input class="search-input" type="text" aria-label="Search">
            <i class="fas fa-search search-icon"></i>
          </form>
        </li>
      </ul>
      <ul class="nav navbar-nav">

      </ul>
    </div>

  </nav>
</header>
