<ngb-carousel>
  <ng-template ngbSlide *ngFor="let movie of movies | slice:0:6">
    <div class="container-FLUID">
      <a [routerLink]="['/movie/', movie.externalId ]">
        <img src="{{movie.backdropUrl}}" class="carousel-img img-fluid" alt="{{movie.title}}">
      </a>
    </div>
    <div class="bottom-bar">
      <div class="title-container">
        <span>{{movie.title}}</span>
      </div>

    </div>

  </ng-template>

</ngb-carousel>

<div class="container-fluid div-first-color">
  <div class="row move-up">
    <div class="col-2" *ngFor="let m of movies | slice:6:12">
      <div class="feature-box main-img ">
        <a [routerLink]="['/movie/', m.externalId ]">
          <img src="{{m.posterUrl}}" class="mini-movie-img" alt="{{m.title}}">
        </a>
        <h6 class="heading-tertiary u-margin-bottom-small">{{m.title}}</h6>
      </div>

    </div>

  </div>
</div>
<!-- <div *ngIf="(i+1) % 3 === 0" class="w-100"></div> -->
<div class="container-fluid mt-5 div-second-color">
  <div class="row ">
    <div class="col-sm">
      <ngb-tabset #mtab="ngbTabset" [activeId]="mtab" (tabChange)="selectedTab($event)">
        <ngb-tab title="IN THEATERS" id="theatertab">
          <ng-template ngbTabContent>
            <div class="row mt-5">
              <ng-container *ngFor="let m of tabMovies; let i = index">
                <div class="col-sm-2">
                  <div class="feature-box main-img">
                    <a [routerLink]="['/movie/', m.externalId ]">

                      <img src="{{m.posterUrl}}" class="mini-movie-img" alt="{{m.title}}">
                    </a>
                    <h6 class="heading-tertiary u-margin-bottom-small">{{m.title}}</h6>
                  </div>
                </div>
                <div *ngIf="(i+1) % 6 === 0" class="w-100"></div>
              </ng-container>
            </div>
            <div class="mx-auto" style="width: 200px;">
              <a name="" id="" [routerLink]="" class="btn btn-primary" (click)="showMore(mtab)" role="button">Show More</a>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="COMING SOON" id="comingSoontab">
          <ng-template ngbTabContent>
            <div class="row mt-5">
              <div class="col-2" *ngFor="let m of tabMovies">
                <div class="feature-box main-img ">
                  <a [routerLink]="['/movie/', m.externalId ]">
                    <img src="{{m.posterUrl}}" class="mini-movie-img" alt="{{m.title}}">
                  </a>
                  <h6 class="heading-tertiary u-margin-bottom-small">{{m.title}}</h6>
                </div>
              </div>
            </div>
            <div class="mx-auto" style="width: 200px;">
              <a name="" id="" [routerLink]="" class="btn btn-primary" (click)="showMore(mtab)" role="button">Show More</a>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="NEW TRAILERS" id="newTrailerstab">
          <ng-template ngbTabContent>
            <div class="row mt-5">
              <div class="col-2" *ngFor="let m of tabMovies">
                <div class="feature-box main-img ">
                  <a [routerLink]="['/movie/', m.externalId ]">
                    <img src="{{m.posterUrl}}" class="mini-movie-img" alt="{{m.title}}">
                  </a>
                  <h6 class="heading-tertiary u-margin-bottom-small">{{m.title}}</h6>

                </div>

              </div>
            </div>
            <div class="mx-auto" style="width: 200px;">
              <a name="" id="" [routerLink]="" class="btn btn-primary" (click)="showMore(mtab)" role="button">Show More</a>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="TOP RATED" id="topRatedtab">
          <ng-template ngbTabContent>
            <div class="row mt-5">
              <div class="col-2" *ngFor="let m of tabMovies">
                <div class="feature-box main-img ">
                  <a [routerLink]="['/movie/', m.externalId ]">
                    <img src="{{m.posterUrl}}" class="mini-movie-img" alt="{{m.title}}">
                  </a>
                  <h6 class="heading-tertiary u-margin-bottom-small">{{m.title}}</h6>
                </div>
              </div>
            </div>
            <div class="mx-auto" style="width: 200px;">
              <a name="" id="" [routerLink]="" class="btn btn-primary" (click)="showMore(mtab)" role="button">Show More</a>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="MOST POPULAR" id="populartab">
          <ng-template ngbTabContent>
            <div class="row mt-5">
              <div class="col-2" *ngFor="let m of tabMovies">
                <div class="feature-box main-img ">
                  <a [routerLink]="['/movie/', m.externalId ]">
                    <img src="{{m.posterUrl}}" class="mini-movie-img" alt="{{m.title}}">
                  </a>
                  <h6 class="heading-tertiary u-margin-bottom-small">{{m.title}}</h6>

                </div>

              </div>
            </div>
            <div class="mx-auto" style="width: 200px;">
              <a name="" id="" [routerLink]="" class="btn btn-primary" (click)="showMore(mtab)" role="button">Show More</a>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>

    </div>

  </div>
